@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");

.App {
  text-align: center;
}

.bg {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
  padding-top: 75px;
  &#home {
    background-image: url("https://images.unsplash.com/photo-1461468611824-46457c0e11fd");
    padding: 0px;
  }
  &#welcome {
    background-image: url("https://images.unsplash.com/photo-1474778577467-8697eaf62a7c");
  }
  &#booking {
    background-image: url("https://images.unsplash.com/photo-1488702953093-ac0820558db2");
  }
  &#about {
    background-image: url("https://images.unsplash.com/19/waves.JPG");
  }
  &#forms {
    background-image: url("https://images.unsplash.com/photo-1470319149473-af271634cecf");
  }
}

// NAVBAR
.welcome,
.about,
.forms,
.booking {
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.bg-light {
  background-color: #dadadc!important;
  a{
    color: #fff!important;
  &:hover{
    color: #a09e9e !important;
    cursor: pointer;
  }
  }
}

.navbar-light .navbar-brand {
  color: #fff !important;
  text-shadow: 1px 2px #a09e9e;
  font-size: x-large;
}

// HOME TITLE
#homeTitle {
  padding-top: 280px;
  h1 {
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin: 0px;
  }
}

// HOME BUTTONS
.homeBtn {
  color: #fff !important;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 19px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  min-width: 10em;
  outline: none;
  display: flex;
  flex-direction: column;
  &:hover {
    background-color: #fff;
    color: #bdbaba !important;
  }
  &#topHomeBtn {
    margin-top: 65px;
  }
}

// WELCOME
#overlay {
  background-color: rgba(255, 255, 255, 0.7);
  width: 85%;
  margin: auto;
  min-height: 42em;
  padding: 10px;
  color: #353535;
}

#welcomeTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#welcomeText {
  overflow: scroll;
  height: 650px;
  position: relative;
}

#specialities,
#intro {
  text-align: left;
  height: 650px;
  padding-left: 20px;
  padding-right: 20px;
}

// INTRO

p#intro{
  font-size: 17px;
}

#officeRow{
  height: 40%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 35px;
}

img#officeImg{
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

// SPECIALIITIES

ul {
  list-style: none;
}
strong {
  line-height: 40px;
}

// ABOUT
#headshot {
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 35px;
  display: inline-flex;
  img {
    max-height: 200px;
  }
}

#aboutList{
  strong{
    line-height: 30px;
  }
}

#about{
  text-align: left;
  p{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  }
}

// PAGINATION
.pagination {
  &Back {
    border: none;
    font-size: 20px;
    margin-top: 340px;
    margin-right: 665px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
}

// BOOKING
.squareWidget{
  width: 99%;
  height: 100%;
  border: 1px solid grey;
}
.squareWrapper{
  width: 100%;
  height: 900px;
  padding: 20px;
}


// MAP

.mapWrapper{
  height: 50%;
  width: 100%;
  border: 1px solid grey;
  margin-left: 30px;
  margin-top: 20px;
}


// FOOTER 
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #353535;
    background-color: #d6d4d4;
    text-align: center;
    height: 40px;
    font-size: 10px;
    box-shadow: 1px -3px 5px #afaeae;
    padding-top: 5px;
    p{
      margin-bottom: 0;
    }
}

// more pictures
// https://images.unsplash.com/photo-1470319149473-af271634cecf
// https://images.unsplash.com/photo-1507095490680-b83c2ec04d2f
// https://images.unsplash.com/photo-1547581268-c4c11f4d6311
